@import '../../sass/global';

.live-config {
  color: $dark-text;
}

.night-theme {
  .live-config-page {
    color: $light-text;
    background-color: $dark-background;
    border: 1px solid $dark-border-color;
  }
}