@import '../../sass/global';

.setting {
  color: $dark-text;

  header {
    padding: 5px 30px 15px 30px;

    h2 {
      font-size: 30px;
    }

    ul {
      border-bottom: 1px solid $sub-light-text;

      li.menu {
        color: $sub-light-text;
        float: left;
        margin-right: 20px;
        cursor: pointer;
        padding-bottom: 10px;
        font-weight: bold;
        transition: color 0.3s ease, border-bottom-color 0.3s ease;
        font-size: 14px;
        position: relative;
        top: 1px;

        &.active {
          color: $dark-text;
          border-bottom: 1px solid $dark-text !important;
        }

        &.notif {
          &:before {
            display: block;
            content: '';
            width: 5px;
            height: 5px;
            background-color: $secondary-color;
            border-radius: 50%;
            float: left;
            position: relative;
            top: 8px;
            margin-right: 10px;
          }
        }

        &:hover {
          color: $dark-text;
          border-bottom: 1px solid $dark-text !important;
        }
      }

      .source {
        float: right;
        font-weight: bold;
        font-size: 16px;
        list-style-type: disc;

        &.in {
          color: #28d028;
        }

        &.out {
          color: red;
        }
      }
    }
  }
}

.night-theme {
  background-color: #17242d;

  .setting {
    color: $light-text;

    header {
      ul {
        li.menu {
          &.active {
            color: $light-text;
            border-bottom: 1px solid $light-text !important;
          }

          &:hover {
            color: $light-text;
            border-bottom: 1px solid $light-text !important;
          }
        }
      }
    }
  }
}