@import '../../sass/global';

.purchase {
  color: $dark-text;
  width: 600px;
  margin: 0 auto;
  padding: 0 30px;

  h2 {
    font-size: 30px;
  }

  .request-container {
    position: relative;
    height: 600px;
    overflow-y: auto;

    &.show-info {
      overflow-y: hidden;
    }

    .scale-transition {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;

        .description {
          margin-bottom: 25px !important;
        }
      }
    }
  }
}

html {
  background-color: $dark-background;
}

.night-theme {
  .purchase {
    background-color: lighten($dark-background, 5%);
    border: 1px solid $dark-border-color;
    color: $light-text;
  }
}