@import '../../sass/global';

.panel {
  color: $dark-text;
  z-index: -10;
  width: 70%;
  margin: 0 auto;

  .description {
    margin-bottom: 25px !important;
  }
}

html {
  background-color: $dark-background;
}

.dark-theme {
  .panel {
    background-color: lighten($dark-background, 5%);
    border: 1px solid $dark-border-color;
    color: $light-text;
  }
}